## Bank account ownership analysis in East Africa

### Import required libraries

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functions import drop_all_na,remove_outliers

### Get data sets

In [18]:
data = pd.read_csv('financialDataset.csv')
data_des = pd.read_csv('VariableDefinitions.csv')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23510 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   Has a Bank account      23488 non-null  object
 4   Type of Location        23509 non-null  object
 5   Cell Phone Access       23513 non-null  object
 6   household_size          23496 non-null  float64
 7   Respondent Age          23490 non-null  float64
 8   gender_of_respondent    23490 non-null  object
 9   The relathip with head  23520 non-null  object
 10  marital_status          23492 non-null  object
 11  Level of Educuation     23495 non-null  object
 12  Type of Job             23494 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.3+ MB

### Funcctions

In [20]:
# #Function to remove outliers using z-score
# def remove_outliers(data, col):
#     col_upper = data[col].mean() + 3*data[col].std()
#     col_lower = data[col].mean() - 3*data[col].std()
#     df = data[(data[col]< col_upper) & (data[col]> col_lower)]
#     return df

### Question

### Data cleaning

In [21]:
data.head()

,country,year,uniqueid,Has a Bank account,Type of Location,Cell Phone Access,household_size,Respondent Age,gender_of_respondent,The relathip with head,marital_status,Level of Educuation,Type of Job
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3.0,24.0,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5.0,70.0,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5.0,26.0,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5.0,34.0,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8.0,26.0,Male,Child,Single/Never Married,Primary education,Informally employed

### Analysis

In [22]:
data['Type of Location'].unique()

array(['Rural', 'Urban', nan], dtype=object)

#### Univariate

In [27]:
#call drop na function from functions file 
drop_all_na(data,'Type of Location')

#get all column names 
data_columns = data.columns.to_list()
data_columns

#drop all Na using for loop in columns

['country',
 'year',
 'uniqueid',
 'Has a Bank account',
 'Type of Location',
 'Cell Phone Access',
 'household_size',
 'Respondent Age',
 'gender_of_respondent',
 'The relathip with head',
 'marital_status',
 'Level of Educuation',
 'Type of Job']

#### bivariate

#### multivariate